<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.ContractMapper">

    <update id="modifyContract" parameterType="com.example.live.entity.Contract">
        update contract
        set ut=now()
        <if test="company!=null and company!=''">
            , company=#{company}
        </if>
        <if test="tax!=null and tax!=''">
            , tax=#{tax}
        </if>
        <if test="owner!=null and owner!=''">
            , owner=#{owner}
        </if>
        <if test="mobile!=null and mobile!=''">
            , mobile=#{mobile}
        </if>
        where id=#{id}
    </update>

    <select id="contractCount" resultType="int" parameterType="com.example.live.controller.query.ContractQuery">
        select count(1) from contract
        <where>
            <if test="company!=null and company!=''">
                company like concat('%',#{company},'%')
            </if>
            <if test="mobile!=null and mobile!=''">
                and mobile like concat('%',#{mobile},'%')
            </if>
            <if test="shop!=null and shop!=''">
                and merchant_id in
                (select id from merchant where shop like concat('%',#{shop},'%'))
            </if>
        </where>
    </select>

    <select id="contractList" resultType="com.example.live.entity.Contract" parameterType="com.example.live.controller.query.ContractQuery">
        select id, merchant_id as merchantId, ope_user as opeUser, buy_type as buyType
             , ct, ut, remark, sign_status as signStatus, sign_type as signType, company, tax, owner, mobile
        from contract
        <where>
            <if test="company!=null and company!=''">
                company like concat('%',#{company},'%')
            </if>
            <if test="mobile!=null and mobile!=''">
                and mobile like concat('%',#{mobile},'%')
            </if>
            <if test="shop!=null and shop!=''">
                and merchant_id in
                (select id from merchant where shop like concat('%',#{shop},'%'))
            </if>
        </where>
        limit #{page}, 10
    </select>

</mapper>