<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.ContractMapper">

    <select id="contractCount" resultType="int" parameterType="com.example.live.controller.query.ContractQuery">
        select count(1) from contract c
        left join merchant_sign ms on c.merchant_id=ms.merchant_id
        where 1=1
        <if test="admin11 != true">
            <if test="opeUserIds!=null and opeUserIds.size()!=0">
                and c.ope_user in
                <foreach collection="opeUserIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        <if test="company!=null and company!=''">
            and ms.subject like concat('%',#{company},'%')
        </if>
        <if test="mobile!=null and mobile!=''">
            and ms.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="shop!=null and shop!=''">
            and c.merchant_id in
            (select id from merchant where shop like concat('%',#{shop},'%'))
        </if>
    </select>

    <select id="contractList" resultType="com.example.live.entity.Contract" parameterType="com.example.live.controller.query.ContractQuery">
        select c.id, c.merchant_id as merchantId, c.ope_user as opeUser, c.buy_type as buyType
             , c.ct, c.ut, c.sign_status as signStatus, c.sign_type as signType, c.flow_id as flowId
             , c.document_id as documentId, c.document_name as documentName, ms.subject, ms.person, ms.mobile, ms.tax
        from contract c
        left join merchant_sign ms on c.merchant_id=ms.merchant_id
        where 1=1
        <if test="admin != true">
            <if test="opeUserIds!=null and opeUserIds.size()!=0">
                and c.ope_user in
                <foreach collection="opeUserIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        <if test="company!=null and company!=''">
            and ms.subject like concat('%',#{company},'%')
        </if>
        <if test="mobile!=null and mobile!=''">
            and ms.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="shop!=null and shop!=''">
            and c.merchant_id in
            (select id from merchant where shop like concat('%',#{shop},'%'))
        </if>
        limit #{page}, 10
    </select>


    <update id="updateStatus1" parameterType="java.util.List">
        update contract set sign_status=1
        where id in
        <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="contractMonth" resultType="int">
        SELECT count(1) FROM contract where DATE_SUB(CURDATE(), INTERVAL 30 DAY) &lt;= date(ct)
        and merchant_id=#{mid}
    </select>


</mapper>