<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.InvoiceMapper">

    <select id="invoiceList" parameterType="com.example.live.controller.query.InvoiceQuery"
            resultType="com.example.live.vo.InvoiceVO">
        select n.id as id,m.mobile as mobile,n.company as company,n.tax as tax,n.ope_user as opeUser,
               n.money as money,n.status as status,n.email as email,n.remark as remark,n.ct as ct,n.ut as ut
        from invoice n left join merchant m on n.merchant_id=m.shop_id
        where n.ope_user in
        <foreach collection="ids" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="query.mobile != null and query.mobile != ''">
            and m.mobile = #{query.mobile}
        </if>
        <if test="query.shop != null and query.shop != ''">
            and n.company like concat('%',#{query.shop},'%')
        </if>
        <if test="query.status != null">
            and n.status = #{query.status}
        </if>
        order by ct DESC
        limit #{query.index}, #{query.size}
    </select>


    <select id="invoiceListCount" parameterType="com.example.live.controller.query.InvoiceQuery"
            resultType="int">
        select count(1)
        from invoice n left join merchant m on n.merchant_id=m.shop_id
        where n.ope_user in
        <foreach collection="ids" index="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="query.mobile != null and query.mobile != ''">
            and m.mobile = #{query.mobile}
        </if>
        <if test="query.shop != null and query.shop != ''">
            and n.company like concat('%',#{query.shop},'%')
        </if>
        <if test="query.status != null">
            and n.status = #{query.status}
        </if>
    </select>



</mapper>