<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.InvoiceMapper">

    <select id="invoiceList" parameterType="com.example.live.controller.query.InvoiceQuery"
            resultType="com.example.live.vo.InvoiceVO">
        select n.id,m.mobile,n.company,n.tax,n.ope_user,n.money,n.status,n.email,n.remark,n.ct,n.ut
        from invoice n
        left join merchant m on n.merchant_id=m.id
        where 1=1
        <if test="ids!=null and ids.size()!=0">
            and n.ope_user in
            <foreach collection="ids" index="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mobile != null and mobile != ''">
            and m.mobile = #{query.mobile}
        </if>
        <if test="shop != null and shop != ''">
            and m.shop like concat('%',#{shop},'%')
        </if>
        <if test="status != null">
            and n.status = #{status}
        </if>
        order by ct DESC
        limit #{page}, 10
    </select>


    <select id="invoiceListCount" parameterType="com.example.live.controller.query.InvoiceQuery"
            resultType="int">
        select count(1)
        from invoice n
        left join merchant m on n.merchant_id=m.id
        where 1=1
        <if test="ids!=null and ids.size()!=0">
            n.ope_user in
            <foreach collection="ids" index="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mobile != null and mobile != ''">
            and m.mobile = #{mobile}
        </if>
        <if test="shop != null and shop != ''">
            and m.shop like concat('%',#{shop},'%')
        </if>
        <if test="status != null">
            and n.status = #{status}
        </if>
    </select>



</mapper>