<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.MerchantMapper">

    <select id="merchantSearch" resultType="com.example.live.entity.Merchant">
        select id, mobile, shop
        from merchant
    </select>

    <select id="merchantList" resultType="com.example.live.entity.Merchant">
        select id, mobile, shop
        from merchant
        where 1=1
          <if test="ids!=null and ids.size()!=0">
              and id in
              <foreach collection="ids" item="item" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>

    </select>

    <select id="getMerchantListByParams" resultType="com.example.live.entity.Merchant">
        SELECT id,mobile,shop,shop_id as shopId,shop_status as shopStatus
             ,ope_user as opeUser,days,login_count as loginCount,lt,ct
        FROM `merchant`
        where 1=1
        <if test="admin11 != true">
            <if test="ids!=null and ids.size()!=0">
                and ope_user in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        <if test="mobile !=null and mobile!=''">
            and mobile = #{mobile}
        </if>
        <if test="shop !=null and shop!=''">
            and shop LIKE CONCAT('%',#{shop},'%')
        </if>
        <if test="shopStatus !=null and shopStatus!=''">
            <if test="shopStatus=='未认证'.toString()">
                and shop_status is null
            </if>
            <if test="shopStatus=='已认证'.toString()">
                and shop_status LIKE CONCAT('%',#{shopStatus},'%')
            </if>
            <if test="shopStatus=='已付费'.toString()">
                and shop_status LIKE CONCAT('%','卡','%')
            </if>

        </if>
        limit #{index}, 10
    </select>

    <select id="getMerchantListByParamsCount" resultType="int">
        SELECT count(1)
        FROM `merchant`
        where 1=1
        <if test="admin11 != true">
            <if test="ids!=null and ids.size()!=0">
                and ope_user in
                <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>

        <if test="mobile !=null and mobile!=''">
            and mobile = #{mobile}
        </if>
        <if test="shop !=null and shop!=''">
            and shop LIKE CONCAT('%',#{shop},'%')
        </if>
        <if test="shopStatus !=null and shopStatus!=''">
            <if test="shopStatus=='未认证'.toString()">
                and shop_status is null
            </if>
            <if test="shopStatus=='已认证'.toString()">
                and shop_status LIKE CONCAT('%',#{shopStatus},'%')
            </if>
            <if test="shopStatus=='已付费'.toString()">
                and shop_status LIKE CONCAT('%','卡','%')
            </if>

        </if>
    </select>

<!--    mybatis使用OGNL表达式来进行解析的，这个地方有坑需要注意下：单引号内有一个字符的情况下，OGNL会将其以java中的char类型进行解析-->
<!--    那么此时char类型与参数string类型用等号进行比较的时候结果都是false-->
<!--    不行：
            <if test="str=='Y'">

            </if>

        可以：
            <if test="str=='Y'.toString()">

            </if>

            <if test=' str=="Y" '>

            </if>
-->

</mapper>