<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.OrderMapper">

    <select id="orderCount" resultType="int" parameterType="com.example.live.controller.query.OrderQuery">
        select count(1) from `order`
        where 1=1
        <if test="opeUserIds!=null and opeUserIds.size()!=0">
            and ope_user in
            <foreach collection="opeUserIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mobile!=null and mobile!=''">
            and merchant_id = (select m.id from merchant m where m.mobile=#{mobile})
        </if>
        <if test="shop!=null and shop!=''">
            and merchant_id in (select m.id from merchant m where m.shop LIKE CONCAT('%', #{shop}, '%'))
        </if>
        <if test="start!=null and start!=''">
            and ct &gt;= #{start}
        </if>
        <if test="end!=null and end!=''">
            and ct &lt;= #{end}
        </if>
        <if test="orderNo!=null and orderNo!=''">
            and order_no=#{orderNo}
        </if>
        <if test="buyType!=null">
            and buy_type=#{buyType}
        </if>
        <if test="payStatus!=null and payStatus==1">
            and `status`='TRADE_SUCCESS'
        </if>
        <if test="payStatus!=null and payStatus==0">
            and `status` is null
        </if>

    </select>

    <select id="orderList" parameterType="com.example.live.controller.query.OrderQuery"
            resultType="com.example.live.entity.Order">
        select id, order_no as orderNo, trade_no as tradeNo, merchant_id as merchantId
             , buy_type, status, money, ope_user as opeUser, pay_type as payType, ct, ut
        from `order`
        where 1=1
        <if test="opeUserIds!=null and opeUserIds.size()!=0">
            and ope_user in
            <foreach collection="opeUserIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mobile!=null and mobile!=''">
            and merchant_id = (select m.id from merchant m where m.mobile=#{mobile})
        </if>
        <if test="shop!=null and shop!=''">
            and merchant_id in (select m.id from merchant m where m.shop LIKE CONCAT('%', #{shop}, '%'))
        </if>
        <if test="start!=null and start!=''">
            and ct &gt;= #{start}
        </if>
        <if test="end!=null and end!=''">
            and ct &lt;= #{end}
        </if>
        <if test="opeUser!=null">
            and ope_user=#{opeUser}
        </if>
        <if test="orderNo!=null and orderNo!=''">
            and order_no=#{orderNo}
        </if>
        <if test="buyType!=null">
            and buy_type=#{buyType}
        </if>
        <if test="payStatus!=null and payStatus==1">
            and `status`='TRADE_SUCCESS'
        </if>
        <if test="payStatus!=null and payStatus==0">
            and `status` is null
        </if>
        ORDER BY ct desc
        limit #{page}, 10
    </select>

    <update id="updateSuccess" parameterType="com.example.live.entity.Order">
        update `order`
        set `status`=#{status}, trade_no=#{tradeNo}, ut=#{ut}
        where id=#{id}
    </update>

    <select id="merchantOrderList2" resultType="com.example.live.entity.Order">
        select order_no as orderNo, trade_no as tradeNo, buy_type, ct, ut
        from `order`
        where `status` = 'TRADE_SUCCESS'
        and merchant_id in
        <foreach item="mid" collection="list" separator="," open="(" close=")">
            #{mid}
        </foreach>
    </select>

</mapper>