<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.PayConfigMapper">

    <select id="getConfig" resultType="com.example.live.entity.PayConfig">
        select pc.id, pc.agent_user as agentUser, pc.ali_app_id as aliAppId, pc.ali_private_key as aliPrivateKey, pc.ali_public_key as aliPublicKey
             , pc.wx_app_id as wxAppId, pc.wx_mch_id as wxMchId, pc.wx_mch_key as wxMchKey, pc.wx_key_path as wxKeyPath, pc.contrary
             , pc.contrary_bank as contraryBank, pc.contrary_account as contraryAccount, pc.ct, pc.ut, pc.remark
        from pay_config pc
        where agent_user=#{userId}
    </select>

    <select id="configList" resultType="com.example.live.entity.PayConfig">
        select pc.id, pc.agent_user as agentUser, pc.ali_app_id as aliAppId, pc.ali_private_key as aliPrivateKey, pc.ali_public_key as aliPublicKey
            , pc.wx_app_id as wxAppId, pc.wx_mch_id as wxMchId, pc.wx_mch_key as wxMchKey, pc.wx_key_path as wxKeyPath, pc.contrary
            , pc.contrary_bank as contraryBank, pc.contrary_account as contraryAccount, pc.ct, pc.ut, pc.remark, u.mobile, u.remark as agentRemark
        from pay_config pc
        left join `user` u on pc.agent_user=u.id
        <where>
            <if test=' agentUser != null'>
                agent_user = #{agentUser}
            </if>
        </where>
    </select>

    <insert id="insConfig" parameterType="com.example.live.entity.PayConfig">
        insert into pay_config(agent_user, ali_app_id, ali_private_key, ali_public_key, wx_app_id, wx_mch_id,
                               wx_mch_key,wx_key_path, contrary, contrary_bank, contrary_account, ct, remark)
        values (#{agentUser}, #{aliAppId}, #{aliPrivateKey}, #{aliPublicKey}, #{wxAppId}, #{wxMchId}, #{wxMchKey},
                #{wxKeyPath}, #{contrary}, #{contraryBank}, #{contraryAccount}, now(), #{remark})
    </insert>


</mapper>