<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.ResourceMerchantMapper">

    <insert id="batchIns">
        INSERT
        INTO
        resource_merchant(shop, agent_user, mobile)
        VALUES
        <foreach collection="list" item="resourceMerchant" index="index" separator=",">
            (#{resourceMerchant.shop}, #{resourceMerchant.agentUser}, #{resourceMerchant.mobile})
        </foreach>
    </insert>

</mapper>