<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.UserMapper">

    <select id="userList2" resultType="com.example.live.entity.User">
        select id, mobile, level, remark, ct from `user`
        where 1=1
        <if test="ids!=null and ids.size()!=0">
            and id in
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

    </select>

    <select id="userList" resultType="com.example.live.entity.User">
        select id, mobile, level, remark, ct from `user`
        where id
        <if test="agentUser!=null">
            in (select child_user_id from relation_user where main_user_id=#{agentUser})
        </if>
        <if test="agentUser==null">
            is not null and id != 11
        </if>
        <if test="level!=null">
            and level = #{level}
        </if>
        <if test="keyword!=null and keyword!=''">
            and mobile LIKE CONCAT('%', #{keyword}, '%')
        </if>
        limit #{page}, 10

    </select>

    <select id="count" resultType="int">
        select count(1) from `user`
        where id
        <if test="agentUser!=null">
            in (select child_user_id from relation_user where main_user_id=#{agentUser})
        </if>
        <if test="agentUser==null">
            is not null and id != 11
        </if>
        <if test="level!=null">
            and level = #{level}
        </if>
        <if test="keyword!=null and keyword!=''">
            and mobile LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="getUserLikeRemark" resultType="int">
        select id from `user`
        where 1=1
        <if test="keyword!=null and keyword!=''">
            and id = #{keyword}
        </if>
        <if test="list != null and list.size()!=0">
            and id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        union
        select id from `user`
        where 1=1
        <if test="keyword!=null and keyword!=''">
            and remark like concat('%',#{keyword},'%')
        </if>
        <if test="list != null and list.size()!=0">
            and id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        union
        select id from `user`
        where 1=1
        <if test="keyword!=null and keyword!=''">
            and mobile = #{keyword}
        </if>
        <if test="list != null and list.size()!=0">
            and id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>


</mapper>