<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.VideoMapper">

    <select id="count" resultType="int">
        select count(1) from video
        where `level` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="videoList" resultType="com.example.live.entity.Video">
        select id, title, `path`, ct
        from video
        where `level` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        limit #{from}, 10
    </select>


</mapper>