<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.live.mapper.VideoMapper">


    <select id="videoList" resultType="com.example.live.entity.Video">
        select id, title
        from video
        where 1=1
        <if test="type!=null">
            and level =#{type}
        </if>
    </select>


</mapper>